nav {
  background: #173F5F; /* Dark blue background */
  padding: 10px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotating-logo {
  width: 50px;
  height: 50px;
  animation: spin 7s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-content {
  display: flex;
  align-items: center;
}

.ATLLoginWord {
  color: #fff; /* Green text color */
  font-family: 'Comfortaa', cursive;
  margin-right: 20px;
}
