.RegistrationText{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

.form1 {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 720px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
    box-shadow: 0 0 30px rgba(20, 18, 18, 0.477);
  }
  
  .form1 input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
  }
  
  .form1 input:focus {
    background: #dbdbdb;
  }
  
  .form1 button {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    outline: 0;
    background: #4b6cb7;
    width: 60%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .PasswordInput{
    width: 60%;
  }
  
  .form1 button:active {
    background: #395591;
  }
  
  .form1 span {
    font-size: 40px;
    color: #4b6cb7;
    margin-bottom: 25px;
    display: block;
  }
  
  .form1 p.error {
    margin: 0 0 10px 10px;
    text-align: left;
    font-size: 10px;
    color: red;
  }